@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

html, body {
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
}

/* Stile della scroolbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.navbar {
    width: 100%;
    border-bottom: solid gray 1px;
    padding: 10px;
    display: flex;
    top: 0px;
    left: 0px;
    background-color: white;
}

.company-name {
    display: flex;
    float: left;
}

.company-name span {
    font-family: 'Fredoka', sans-serif;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 7px;
}

.company-name img {
    width: 50px;
    height: 50px;
}

.page-list {
    float: right;
    margin-right: 0px;
    list-style: none;
    display: inline;
    position: absolute;
    right: 20px;
    display: block;
}

.hamburger{
    float: right;
    margin-right: 0px;
    list-style: none;
    display: inline;
    position: absolute;
    right: 20px;
    padding-top: 8px;
    display: none;
    font-size: 35px;
}

.page-list li{
    display: inline;
    padding: 7px;
}

.page-list .list-item{
    font-family: 'Fredoka', sans-serif;
    font-size: 18px;
    color: black;
}

.current-page{
    font-family: 'Fredoka', sans-serif;
    font-size: 18px;
    color: rgb(0, 68, 255);
    font-weight:bold;
}

.link-button{
    font-family: 'Fredoka', sans-serif;
    background-color: rgb(0, 68, 255);
    padding: 10px 25px;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    color: white;
}

.bottom{
    background-color: rgb(0, 68, 255);
    width: 100%;
    margin-top: -5px;
    position: absolute;
    display: block;
    bottom: 0px;
}

.bottom .contacts{
    font-family: 'Fredoka', sans-serif;
    color: white;
    font-size: 35px;
    padding: 20px 30px;
    margin: 0px;
}

.bottom ul{
    margin-top: -5px;
    margin-left: 15px;
    font-family: 'Fredoka', sans-serif;
    color: white;
    font-size: 21px;
}

.bottom ul li a{
    color: white;
}

.copy{
    font-family: 'Fredoka', sans-serif;
    color: white;
    font-size: 18px;
    position: absolute;
    bottom: 2px;
    width: 100%;
    text-align: center;
}

@media screen and (max-width:850px) {
    .page-list{
        display: none;
    }

    .hamburger{
        display: block;
    }
}

.dropdown-content{
    position: absolute;
    right: 0px;
    top: 70px;
    background-color: white;
    z-index: 5;
    width: 100%;
    display: none;    
    border: solid gray 1px;
}

.page-list-dropdown{
    list-style: none;
    font-family: 'Fredoka', sans-serif;
    padding: 0;
}

.page-list-dropdown li{
    padding: 10px 0px;
    width: 100%;
    text-align: center;
}

.page-list-dropdown li .list-item{
    color: black;
    font-size: 18px;
    text-decoration: none;
}

.contact-form{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
    margin-bottom: 100px;
}

.input {
    font-family: 'Fredoka', sans-serif;
    position: relative;
}

.input label {
    position: absolute;
    left: 10px;
    margin-top: -10px;
    padding: 0px 5px;
    background-color: white;
}

.input input, .input textarea {
    font-family: 'Fredoka', sans-serif;
    font-size: 16px;
    border: solid gray 1px;
    border-radius: 10px;
    padding: 7px 15px;
    outline: none;
    width: 50%;
    min-width: 250px;
}

.input input:focus, .input textarea:focus {
    border: solid rgb(0, 68, 255) 2px;
    padding: 6px 14px;
}

.submit-btn{
    background-color: rgb(0, 68, 255);
    font-family: 'Fredoka', sans-serif;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
}