
.carcontainer{
    display: inherit;
    width: 100%;
    margin: solid magenta 1px;
}

#car {
    transform: rotate(90deg);
    width: 100%;
    padding: 25% 0px;
}

#car-dangers-container{
    width: 60%;
    margin: auto;
}

.left-line{
    position: absolute;
    left: 7%;
    height: 600px;
    width: 75px;
    top:25%;
    background:linear-gradient(to left,#eee, rgb(150, 237, 248) 50%, #eee 75%);
}

.right-line{
    position: absolute;
    left: 28%;
    height: 600px;
    width: 75px;
    top:25%;
    background:linear-gradient(to left,#eee, rgb(150, 237, 248) 50%, #eee 75%);
}

#back-left-1{
    width: 4%;
    height: 7px;
    background-color: rgb(255, 102, 0);
    border-radius: 4px;
    transform: rotate(45deg);
    position: absolute;
    margin-bottom: 10%;
    margin-left: 4%;
}

#back-center-1{
    width: 7%;
    height: 7px;
    background-color: rgb(255, 102, 0);
    border-radius: 4px;
    position: absolute;
    margin-bottom: 0px;
    margin-left: 8.5%;
}

#back-right-1{
    width: 4%;
    height: 7px;
    background-color: rgb(255, 102, 0);
    border-radius: 4px;
    transform: rotate(-45deg);
    position: absolute;
    margin-bottom: 10%;
    margin-left: 16%;
}