
.carcontainer{
    display: block;
    position: relative;
    border: solid magenta 1px;
}

#car {
    transform: rotate(90deg);
    width: 100%;
    padding: 40% 0px;
}

#car-dangers-container{
    width: 60%;
    margin: auto;
}

.left-line{
    position: absolute;
    left: 7%;
    height: 600px;
    width: 75px;
    top:25%;
    background:linear-gradient(to left,#eee, rgb(150, 237, 248) 50%, #eee 75%);
}

.right-line{
    position: absolute;
    left: 28%;
    height: 600px;
    width: 75px;
    top:25%;
    background:linear-gradient(to left,#eee, rgb(150, 237, 248) 50%, #eee 75%);
}

#back-left-1{
    width: 12%;
    height: 7px;
    background-color: rgb(255, 102, 0);
    border-radius: 4px;
    transform: rotate(45deg);
    position: absolute;
    bottom: 10%;
    left: 29%;
}

#back-center-1{
    width: 20%;
    height: 7px;
    background-color: rgb(255, 102, 0);
    border-radius: 4px;
    position: absolute;
    bottom: 5%;
    left: 40%;
}

#back-right-1{
    width:  12%;
    height: 7px;
    background-color: rgb(255, 102, 0);
    border-radius: 4px;
    transform: rotate(-45deg);
    position: absolute;
    bottom: 10%;
    right: 29%;
}

#back-left-2{
    width: 9%;
    height: 7px;
    background-color: rgb(255, 102, 0);
    border-radius: 4px;
    transform: rotate(45deg);
    position: absolute;
    bottom: 11.5%;
    left: 32%;
}

#back-center-2{
    width: 16%;
    height: 7px;
    background-color: rgb(255, 102, 0);
    border-radius: 4px;
    position: absolute;
    bottom: 7%;
    left: 42%;
}

#back-right-2{
    width:  9%;
    height: 7px;
    background-color: rgb(255, 102, 0);
    border-radius: 4px;
    transform: rotate(-45deg);
    position: absolute;
    bottom: 11.5%;
    right: 32%;
}

#back-left-3{
    width: 7%;
    height: 7px;
    background-color: rgb(255, 102, 0);
    border-radius: 4px;
    transform: rotate(45deg);
    position: absolute;
    bottom: 12.5%;
    left: 35%;
}

#back-center-3{
    width: 12%;
    height: 7px;
    background-color: rgb(255, 102, 0);
    border-radius: 4px;
    position: absolute;
    bottom: 9%;
    left: 44%;
}

#back-right-3{
    width:  7%;
    height: 7px;
    background-color: rgb(255, 102, 0);
    border-radius: 4px;
    transform: rotate(-45deg);
    position: absolute;
    bottom: 12.5%;
    right: 35%;
}