@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&family=Source+Sans+Pro&display=swap');

html,
body {
    margin: 0;
    user-select: none;
}

.container {
    display: flex;
    background-color: rgb(241, 241, 241);
    height: 100vh;
}

.carinfo {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
}

#map {
    height: 100%;
    width: 60%;
}

.navigateBtn {
    background-color: white;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    width: 150px;
}

.stopNavigationBtn {
    background-color: rgb(204, 8, 8);
    color: white;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    width: 150px;
    z-index: 5;
}

.livemarker {
    background-image: url('/images/pointer.png');
    width: 75px;
    height: 75px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.repositiondiv {
    position: absolute;
    top: -2px;
    right: 150px;
    background: none;
    border: none;
    z-index: 0;
}

.repositiondiv img {
    width: 70px;
}

.speed {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}

#navigateframe {
    position: absolute;
    top: 0px;
    right: 0.5%;
    width: 59%;
    background-color: rgb(241, 241, 241);
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    z-index: 1;
}

#destination {
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 10px;
    border: solid gray 1px;
    padding: 5px;
    font-size: 16px;
    outline: none;
    width: 50%;
    min-width: 300px;
}

#destination:focus {
    border: solid rgb(3, 113, 238) 1px;
}

#navigate {
    background-color: rgb(34, 129, 238);
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 16px;
    width: 100%;
}

#cancel {
    background-color: gray;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 16px;
    width: 100%;
}

#tablebuttons {
    width: 100%;
    padding: 10px;
}

#tablebuttons td {
    width: 50%;
    text-align: center;
}

#destinationlbl {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(241, 241, 241);
    padding: 40px;
}

.setdestination {
    margin-top: 40px;
    margin-bottom: 30px;
}

#alerts {
    /* border: solid magenta 1px; */
    width: 100%;
    height: 150px;
}

.instruction {
    background-color: rgb(241, 241, 241);
    width: 300px;
    height: 150px;
    position: absolute;
    top: 10px;
    left: 40.5%;
    border-radius: 20px;
    opacity: 0.95;
}

.instruction #text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    color: black;
    padding-top: 0;
    margin-top: 10px;
}

.instruction #distance {
    position: absolute;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    bottom: 5px;
    right: 10px;
    color: black;
    margin-top: 0px;
}

.searchresults {
    background: white;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-block: 2px;
    border-bottom: solid gray 1px;
    font-family: 'Source Sans Pro', sans-serif;
    user-select: none;
}

.searchresults:hover {
    background-color: rgb(34, 129, 238);
    color: white;
}

#destinationlist {
    margin-top: 50px;
}

.noresults {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-block: 2px;
    color: black;
    font-size: 16px;
}

.alertbutton {
    position: absolute;
    font-size: 60px;
    color: red;
    bottom: 25px;
    right: 15px;
    background-color: white;
    width: 80px;
    height: 80px;
    font-family: 'Source Sans Pro', sans-serif;
    user-select: none;
    text-align: center;
    border-radius: 10px;
}

.alertslist {
    position: absolute;
    font-size: 60px;
    bottom: 25px;
    right: 15px;
    background-color: white;
    width: 500px;
    border-radius: 10px;
    border: none;
    padding-bottom: 20px;
    padding-top: 20px;
}

.close {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 15px;
}

/* Div visualizzazione errore sopra la mappa */
.error-div-map {
    background-color: rgba(0, 0, 0, 0.74);
    height: 100%;
    width: 60%;
    position: absolute;
    left: 40%;
    top: 0px;
    z-index: 1;
}

.error-div-map p {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    width: 100%;
    text-align: center;
}

.error-div-map img {
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 40%;
}

.error-div-map .description {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    width: 100%;
    text-align: center;
    width: 100%;
}

/* Div visualizzazione errore sopra la macchina */
.error-div-car {
    background-color: rgba(0, 0, 0, 0.74);
    height: 100%;
    width: 40%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.error-div-car p {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    width: 100%;
    text-align: center;
}

.error-div-car img {
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 61%;
}

.error-div-car .description {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    width: 100%;
    text-align: center;
    width: 100%;
}

/* Box caricamento */
.loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
    background-color: rgb(20, 72, 228);
}

.loading img {
    width: 20%;
    position: relative;
    display: block;
    margin: auto;
    margin-top: 20%;
}

.loading p {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    width: 300px;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

.settings-btn {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 2;
    background-color: white;
    padding: 3px 5px;
    border-radius: 7px;
}

.settings {
    background-color: white;
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 50px;
    right: 50px;
    z-index: 5;
    border-radius: 20px;
}

.settings-container {
    position: absolute;
    z-index: 4;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.74);
}

.settings h2 {
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 40px;
    border-bottom: solid gray 1px;
}

#close-settings {
    position: absolute;
    top: 10px;
    right: 30px;
    width: 20px;
    padding: 10px;
}

.settings-input {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    margin-left: 40px;
}

.settings-input input {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    border: solid gray 1px;
    outline: none;
    padding: 7px 15px;
    border-radius: 10px;
    margin-left: 10px;
    width: 70%;
}

.settings-input input:focus {
    padding: 6px 14px;
    border: solid rgb(20, 72, 228) 2px;
}

.alert {
    font-size: 25px;
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
    border-bottom: solid gray 1px;
}

.alert-container {
    display: flex;
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    align-items: center;
    margin-top: -10px;
    margin-bottom: -50px;
    padding-top: 0;
    padding-bottom: 0;
    gap: 15px;
    margin-left: 27%;
}

.alert span {
    padding-left: 50px;
    display: block;
}
.alert img {
    width: 50px;
    margin-right: 50px;
    display: block;
}

#reload-page{
    background-color: rgb(20, 72, 228);
    border: none;
    padding: 10px 25px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 18px;
    margin-left: 40px;
    border-radius: 10px;
    margin-top: 20px;
}